extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src="/socket.io/socket.io.js")
  script.
    //var socket = io('//'+document.location.hostname+':'+document.location.port);
    var socket = io('//localhost:3000');
    socket.on('connected', function(){
        console.log('connected triggered');
        socket.emit('start tweets');
    });
